<%- include("partials/head.ejs") %>

<body>
    <div class="d-flex justify-content-between">
        <%- include("partials/dashboard") %>
        <div class="d-flex justify-content-center align-items-center container">
            <div>
                <h1 class="display-3 fw-6">Wellcome! <%#= logedUser.username %></h1>
                <p>The future belongs to those who believe in the beauty of their dreams.</p>
            </div>
        </div>

    </div>
</body>

</html>