<%- include("partials/head.ejs") %>

<body>
    <div class="d-flex justify-content-between">
        <div class="d-flex justify-content-center align-items-center container">
            <div>
                <h1 class="display-1 ">404</h1>
                <h1 class="display-3 fw-6">Oops 🤔 <%#= logedUser.username %></h1>
                <p>Requested page Not Found</p>
            </div>
        </div>

    </div>
</body>

</html>