<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Typing Test</title>
    <link rel="stylesheet" href="./css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

    <div class="header">
        <h3>Typing Game</h3>
        <p class="time">
            <span><b>1:00</b>s</span>
        </p>
        <div>
            Language:
            <select id="lang-selector">
                <option value="en">en</option>
                <option value="fa">fa</option>
            </select>
            Level:
            <select id="level-selector">
                <option value="1">Level 1</option>
                <option value="2">Level 2</option>
                <option value="3">Level 3</option>
                <option value="4">Level 4</option>
                <option value="5">Level 5</option>
                <option value="6">Level 6</option>
            </select>
        </div>
    </div>
    <div class="progress-bar"></div>
    <div class="cointainer">

        <main>
            <div class="mistake-list">
                <h4>Mistakes</h4>
                <ul>
                </ul>
            </div>

            <div class="wrapper">
                <input type="text" class="input-field">
                <div class="content-box">
                    <div class="typing-text">
                        <p></p>
                    </div>
                </div>
            </div>
        </main>

    </div>

    <div class="modal ">
        <div class="result-details">
            <div class="result">
                <p>You passed test with&nbsp;<span class="wpm"><b>0</b></span>&nbsp;WPM</p>
                <p>And you had <span class="mistake">&nbsp;<b>0</b></span>&nbsp;Mistakes</p>
            </div>
            <button id="try-again">Try again</button>
            <button id="next" hidden>Next</button>
        </div>
    </div>

    <script src="js/paragraphs.js"></script>
    <script src="js/persian.js"></script>
    <script src="js/script.js"></script>

</body>

</html>