<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Typing Test</title>
    <link rel="stylesheet" href="./css/typing.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

    <div class="header">
        <h3>Typing Game</h3>
        <p class="time">
            <span><b>1:00</b>s</span>
        </p>
        <div>
            Language:
            <select id="lang-selector">
                <option value="en">en</option>
                <option value="fa">fa</option>
            </select>
            Level:
            <select id="level-selector">
                <option value="1">Level 1</option>
            </select>
            Your Level: 
            <%= data.maxLevel %>
        </div>
        <div class="progress-bar"></div>
    </div>

    <div class="cointainer">
        <p class="main-para" style="display: none;"><%= data.content %></p>
        <main>
            <div class="mistake-list">
                <h4>Mistakes</h4>
                <ul>
                </ul>
            </div>

            <div class="wrapper">
                <input type="text" class="input-field">
                <div class="content-box">
                    <div class="typing-text">
                        <p></p>
                    </div>
                </div>
            </div>
        </main>

    </div>

    <div class="modal ">
        <div class="result-details">
            <div class="result">
                <p>You passed test with&nbsp;<span class="wpm"><b>0</b></span>&nbsp;WPM</p>
                <p>And you had <span class="mistake">&nbsp;<b>0</b></span>&nbsp;Mistakes</p>
            </div>
            <button id="try-again">Try again</button>
            <form action="/records" method="POST" id="score-form">
                <input type="hidden" name="userId" value="<%= user.id %>">
                <input type="hidden" name="levelId" value="<%= data.levelId %>">
                <input type="hidden" name="score" value="">
                <!-- <button type="submit">Ok</button> -->
            </form>
        </div>
    </div>

    <script src="js/script.js"></script>

</body>

</html>